@model webProgProje.Models.Randevu

@{
    ViewData["Title"] = "RandevuEkle";
    //List<SelectListItem> anadal = new List<SelectListItem>();
    
}

<h1>RandevuEkle</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RandevuDate" class="control-label"></label>
                <input asp-for="RandevuDate" class="form-control" type="date" />
                <span asp-validation-for="RandevuDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuTime" class="control-label"></label>
                <input asp-for="RandevuTime" class="form-control" type="time"/>
                <span asp-validation-for="RandevuTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DoktorID" class="control-label"></label>
                <select asp-for="DoktorID" class ="form-control" asp-items="ViewBag.DoktorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnadalID" class="control-label"></label>
                <select asp-for="AnadalID" class ="form-control" asp-items=@ViewBag.AnadalID></select>
            </div>
             <div class="form-group" hidden>
                <label asp-for="HastaID" class="control-label"></label>
                <select asp-for="HastaID" class ="form-control" asp-items="ViewBag.HastaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Randevu Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
