
<h3>ANA MENÜ</h3>
<table>
	<tr>Hoşgeldiniz. Ne yapmak istersiniz?</tr>
	<br />
	<tr>
		<td>
			<a asp-action="RandevuAl"><button class="btn btn-primary">Randevu Al</button></a>
		</td>
		<td>
			<a asp-action="Randevularim"><button class="btn btn-primary">Randevularımı Görüntüle</button></a>
		</td>
	</tr>
</table>